apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::183295435445:role/EKS-CrossAccount-Access-Role
      username: system:node:{{SessionName}}
      groups:
        - system:masters

